[submodule "packages/retrotool-libsfx/vendor/libSFX"]
	path = packages/retrotool-libsfx/vendor/libSFX
	url = https://github.com/Optiroc/libSFX
[submodule "packages/retrotool-xdelta/vendor/xdelta"]
	path = packages/retrotool-xdelta/vendor/xdelta
	url = https://github.com/jmacd/xdelta
[submodule "packages/retrotool-asar/vendor/asar"]
	path = packages/retrotool-asar/vendor/asar
	url = https://github.com/RPGHacker/asar
[submodule "packages/retrotool-bass/vendor/bass"]
	path = packages/retrotool-bass/vendor/bass
	url = https://github.com/ARM9/bass
